{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-jsx-source"
      ]
    }
  }
}
